{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <div class="container">
        <div class="box">
            <h1 class="title">Liste de souhait</h1>

            <a href="{{ path('wish_new', {'page': currentPage-1}) }}">(Ajouter un souhait)</a>

            {% for wish in wishes %}
                <article>
                    <div class="block">
                        <ul>
                            <li>{{ wish.category.name }}</li></l>
                            <li class="is-active"><p>{{ wish.title }} <small><a href="{{ path('wish_detail', {id: wish.id}) }}">Détails</a></small></p></li>
                        </ul>
                    </div>
                </article>
            {% endfor %}

            {% if currentPage > 1 %}
                <a href="{{ path('wish_list', {'page': currentPage-1}) }}">Page précèdente</a>
            {% endif %}

            <a href="{{ path('wish_list', {'page': currentPage+1}) }}">Page #{{ currentPage }} | Page suivante</a>
        </div>
    </div>
{% endblock %}
