<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ asset('img/favicon.png') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ asset('css/font.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <title>{% block title %}Bucket-List{% endblock %}</title>
</head>

<body>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="{{ asset('img/logo.png') }}" alt="logo">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('main_home') }}">
                    Home
                </a>

                <a class="navbar-item" href="{{ path('wish_list') }}">
                    Wish
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item" href="{{ path('main_aboutUs') }}">
                        AboutUs
                    </a>

                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if app.user == "" %}
                            <a class="button is-primary" href="{{ path('app_register') }}">
                                <strong>Sign up</strong>
                            </a>

                            <a class="button is-light" href="{{ path('app_login') }}">
                                Log in
                            </a>
                        {% else %}
                            <a class="button is-primary" href="{{ path('wish_new') }}">
                                <strong>Add your idea</strong>
                            </a>

                            <a class="button is-light" href="{{ path('app_logout') }}">
                                Log out
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <article>
        <div class="block">
            {% if app.user != "" %}
                <p>Vous êtes connecté en tant que: {{ app.user.username }}</p>
            {% endif %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="notification is-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </article>
</div>

<main>
    <section class="section">
        {% block body %}
            <h1 class="title">Section</h1>
            <h2 class="subtitle">
                A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
            </h2>
        {% endblock %}
    </section>
</main>

<footer class="footer">
    <div class="content has-text-centered">
        <p>@Bucket-List {{ "now"|date("Y") }}</p>
    </div>
</footer>
</body>
</html>
